@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3 {
    @apply font-bold text-gray-900;
  }
  h1 {
    @apply text-xl leading-6;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-base;
  }
  p {
    @apply text-gray-500 text-sm;
  }
  a {
    @apply text-blue-600 underline;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapboxgl-control-container {
  display: none !important;
}

.mapboxgl-popup-content {
  padding: 20px !important;
  width: 300px !important;
}

.mapboxgl-popup-close-button {
  width: 30px;
  height: 30px;
  font-size: 24px;
}

.mapboxgl-popup-content {
  border-radius: .5rem;
}

@media screen and (max-width: 1023px) {
  .mapboxgl-popup-form {
    max-width: none !important;
    padding: 16px;
    padding-top: 120px;
    width: 100%;
    transform: none !important;
    height: 100vh;
    z-index: 10;
  }

  .mapboxgl-popup-form .mapboxgl-popup-tip {
    align-self: center !important;
    border: 10px solid transparent !important;
    border-bottom-color: #fff !important;
  }

  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-content {
    border-top-left-radius: .5rem;
  }

  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-content {
    border-top-right-radius: .5rem;
  }

  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-content {
    border-bottom-left-radius: .5rem;
  }

  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-content {
    border-bottom-right-radius: .5rem;
  }

  .mapboxgl-popup-form .mapboxgl-popup-content {
    width: 100% !important;
    height: 100%;
  }
}